# Socket server URL
REACT_APP_SOCKET_URL=http://localhost:5000

# TURN server credentials
REACT_APP_TURN_USERNAME=xxxxxxxxxxxxxxxxxxx
REACT_APP_TURN_CREDENTIAL=xxxxxxxxxxxxxxxxxxx

# Firebase configuration
REACT_APP_apiKey=xxxxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxx
REACT_APP_authDomain=xxxxxxxxxxxxxxxxxxx.firebaseapp.com
REACT_APP_projectId=xxxxxxxxxxxxxxxxxxx
REACT_APP_storageBucket=xxxxxxxxxxxxxxxxxxx.appspot.com
REACT_APP_messagingSenderId=xxxxxxxxxxxxxxxxxxx
REACT_APP_appId=1:xxxxxxxxxxxxxxxxxxx:web:xxxxxxxxxxxxxxxxxxx
REACT_APP_measurementId=G-xxxxxxxxxxxxxxxxxxx
